.App {
  font-family: sans-serif;
  text-align: center;
}

#proof-map {
  height: 650px;
  width: 50%;
  border-radius: 10px;
  margin: 5px;
}

#main-map {
  height: 650px;
  width: 50%;
  border-radius: 10px;
  margin: 5px;
}
